# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw

# C extensions
*$

# Distribution / packaging
*.egg-info/
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
spyderproject/
.ropeproject

# Jupyter Notebook
.ipynb_checkpoints/

# Django
# Ignore database file if using sqlite3
*.db
*sqlite3

# PyCharm
*.iml
# Directory-based project format:
ecuvias-bot/.idea/

# Pipenv
# Ignore Pipfile.lock to ensure builds are deterministic on continuous integration servers
Pipfile.lock

# Docker
# Backup files for Dockerfile(s) and .dockerignore
Dockerfile.*.bak
Dockerfile.*.tmp
.dockerignore.*.bak
.dockerignore.*.tmp
*.dockerfile.*.bak
*.dockerfile.*.tmp
*.containerfile.*.bak
*.containerfile.*.tmp

# Temporary Docker files
*.tmp*

# Docker daemon directory
.docker/

# Tar files (commonly used in Docker context)
*.tar
*.tar.*

# Docker directories
containers/
runtimes/
volumes/

# Socket files
*.sock

# Swap files (common in Unix/Linux environments)
*.swp
*.swo
*.swn

/viasec_bot