[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.1.4"
selenium = "4.16.0"
lxml = "4.9.4"
python-telegram-bot = {extras = ["job-queue"], version = "*"}
pyyaml = "6.0.1"
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
