[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = {extras = ["job-queue"], version = "*"}
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
redis = "*"
pandas = "*"
numpy = "*"
requests = "*"
tortoise-orm = "*"
requests-cache = "*"
beautifulsoup4 = "*"
selenium = "*"
lxml = "*"
html5lib = "*"
tomlkit = "*"
pytz = "*"
translation-tools = {git = "https://github.com/WalterCun/ToolsTranslator.git"}

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
test = "echo test"
